% include("header")

<div>
  <!-- <img src="../avatars/{{user['user_avatar']}}" alt="avatar"> -->
  <div>
    <section id="user_top">
      <div class="flex">
        <svg viewBox="0 0 24 24" aria-hidden="true" class="icon" style="color: rgb(239, 243, 244);">
          <g>
            <path d="M7.414 13l5.043 5.04-1.414 1.42L3.586 12l7.457-7.46 1.414 1.42L7.414 11H21v2H7.414z">
            </path>
          </g>
        </svg>
        <div class="user_info">
          <div class="flex">
            <h3>{{user["user_username"]}}</h3>
            <svg viewBox="0 0 24 24" aria-label="Verified account" role="img" class="check" data-testid="icon-verified">
              <g>
                <path
                  d="M22.25 12c0-1.43-.88-2.67-2.19-3.34.46-1.39.2-2.9-.81-3.91s-2.52-1.27-3.91-.81c-.66-1.31-1.91-2.19-3.34-2.19s-2.67.88-3.33 2.19c-1.4-.46-2.91-.2-3.92.81s-1.26 2.52-.8 3.91c-1.31.67-2.2 1.91-2.2 3.34s.89 2.67 2.2 3.34c-.46 1.39-.21 2.9.8 3.91s2.52 1.26 3.91.81c.67 1.31 1.91 2.19 3.34 2.19s2.68-.88 3.34-2.19c1.39.45 2.9.2 3.91-.81s1.27-2.52.81-3.91c1.31-.67 2.19-1.91 2.19-3.34zm-11.71 4.2L6.8 12.46l1.41-1.42 2.26 2.26 4.8-5.23 1.47 1.36-6.2 6.77z">
                </path>
              </g>
            </svg>
          </div>
          <p class="small_txt">{{user["user_total_tweets"]}} Tweets</p>
        </div>

      </div>
    </section>
    <section id="user_profile">
      <div class="user_cover">
        <img src="./user_cover/{{user['user_cover']}}">
      </div>
      <div class="user_top_info">
        <img class="profile_picture" src="./avatars/{{user['user_avatar']}}" alt="avatar">
        <div class="info_next_to_profile_picture">
          <svg viewBox="0 0 24 24" aria-hidden="true" class="icon" style="color: rgb(239, 243, 244);">
            <g>
              <path
                d="M3 12c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2zm9 2c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm7 0c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z">
              </path>
            </g>
          </svg>
          <svg viewBox="0 0 24 24" aria-hidden="true" class="icon" style="color: rgb(239, 243, 244);">
            <g>
              <path
                d="M22 5v2h-3v3h-2V7h-3V5h3V2h2v3h3zm-.86 13h-4.241c-.464 2.281-2.482 4-4.899 4s-4.435-1.719-4.899-4H2.87L4 9.05C4.51 5.02 7.93 2 12 2v2C8.94 4 6.36 6.27 5.98 9.3L5.13 16h13.73l-.38-3h2.02l.64 5zm-6.323 0H9.183c.412 1.164 1.51 2 2.817 2s2.405-.836 2.817-2z">
              </path>
            </g>
          </svg>
          <button>Following</button>
        </div>
      </div>
      <div id="user_more_info">
        <div class="user_info">
          <div class="flex">
            <h3>{{user["user_name"]}} {{user["user_last_name"]}}</h3>
            <svg viewBox="0 0 24 24" aria-label="Verified account" role="img" class="check" data-testid="icon-verified">
              <g>
                <path
                  d="M22.25 12c0-1.43-.88-2.67-2.19-3.34.46-1.39.2-2.9-.81-3.91s-2.52-1.27-3.91-.81c-.66-1.31-1.91-2.19-3.34-2.19s-2.67.88-3.33 2.19c-1.4-.46-2.91-.2-3.92.81s-1.26 2.52-.8 3.91c-1.31.67-2.2 1.91-2.2 3.34s.89 2.67 2.2 3.34c-.46 1.39-.21 2.9.8 3.91s2.52 1.26 3.91.81c.67 1.31 1.91 2.19 3.34 2.19s2.68-.88 3.34-2.19c1.39.45 2.9.2 3.91-.81s1.27-2.52.81-3.91c1.31-.67 2.19-1.91 2.19-3.34zm-11.71 4.2L6.8 12.46l1.41-1.42 2.26 2.26 4.8-5.23 1.47 1.36-6.2 6.77z">
                </path>
              </g>
            </svg>
          </div>
          <p class="small_txt">@{{user["user_username"]}}</p>
          <div class="joined">
            <svg viewBox="0 0 24 24" aria-hidden="true" class="icon">
              <g>
                <path
                  d="M7 4V3h2v1h6V3h2v1h1.5C19.89 4 21 5.12 21 6.5v12c0 1.38-1.11 2.5-2.5 2.5h-13C4.12 21 3 19.88 3 18.5v-12C3 5.12 4.12 4 5.5 4H7zm0 2H5.5c-.27 0-.5.22-.5.5v12c0 .28.23.5.5.5h13c.28 0 .5-.22.5-.5v-12c0-.28-.22-.5-.5-.5H17v1h-2V6H9v1H7V6zm0 6h2v-2H7v2zm0 4h2v-2H7v2zm4-4h2v-2h-2v2zm0 4h2v-2h-2v2zm4-4h2v-2h-2v2z">
                </path>
              </g>
            </svg>
            <p class="small_txt">Joined {{user["user_createdat"]}}</p>
          </div>
          <div class="user_followeres">
            <div class="flex">
              <b>{{user["user_total_following"]}}</b>
              <p class="small_txt">Following</p>
            </div>
            <div class="flex">
              <b>{{user["user_total_followers"]}}</b>
              <p class="small_txt">Followers</p>
            </div>
          </div>
        </div>
      </div>
      <section id="user_nav">

        <div class="inner">
          <a class="active">Tweets</a>
          <a class="deactive">Tweets & replies</a>
          <a class="deactive">Media</a>
          <a class="deactive">Links</a>
        </div>
      </section>
    </section>
    <div id="home_nav_and_tweets">

      % include("tweets")

    </div>
  </div>

</div>





% include("footer")